

.background-image{
content: '';
  position: absolute;
  inset: 0;
  background-image: url('./assets/alexhands.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}


.back-button {
  padding: 12px 28px;
  font-size: 0.5rem;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 200px;
  font-weight: 500;
  color: white;
  background: red;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.load-button {
  padding: 12px 28px;
  font-size: 0.5rem;
  top: 50%;
  left: max(100px, 15%);
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 200px;

  font-weight: 500;
  color: white;
  background: green;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
