

.background-image{
content: '';
  position: absolute;
  inset: 0;
  background-image: url('./assets/alexhands.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}